.header_info {
    display: flex;
    align-items: center;
    padding-left: 250px;
    padding-top: 20px;
}
.body {
    text-align: center;
}
@media screen and (max-width: 992px) {
    .home_content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }
    .body {
        text-align: center;
    }
    .header_info {
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-top: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
      .home_content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
      }
      .header_info {
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-top: 20px;
    }
  }

  @media screen and (max-width: 350px) {
    
  }