
.date {
    padding-top: 50px;
    width:350px; 
    margin-left:auto; 
    margin-right:auto;
    color: #AC73FF;
}
.content{
    padding-top: 40px;
}
.portfolio_container {
    padding-top: 30px;
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}
.train_time{
    padding: 30px;
    background-color: #AC73FF;
    border: #414141;
    color: white;
    width: 200px;
    border-radius: 10px;
    margin-left: 130px;
}
.active-energy {
    padding: 30px;
    background-color: #9DE5FF;
    border: #414141;
    color: white;
    width: 200px;
    border-radius: 10px;
}
@media screen and (max-width: 992px) {
    .portfolio_container{
        grid-template-columns: repeat(2, 350px);
        row-gap: 2rem;
    } 
}

@media screen and (max-width: 576px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .portfolio_content {
        padding: 1.5rem;
    }
}